.container{
    width:100%;
}
ul{
    list-style-type: none;
    padding: 0;
}
.usuarios{
    background-color: #191970;
    
    
}
li{
    display: flex;
   width: 100%;
    
}
.informacoes{
    margin-top: 20px;
    margin-left: 20px;
}
.borda{
    border-bottom: 1px white solid;
    color: white;
}
.perfil{
    -moz-border-radius:60px;
    -webkit-border-radius:60px;
    border-radius:60px; 
}
button{
    width: 50px;
    height:20px;
    margin-top: 50px;
    margin-left: 3px;
}